.hero {
    /* clip-path: polygon(100% 0, 100% 80%, 50% 100%, 0 80%, 0 0); */
    /* background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%); */

    /* background: #FF4E50;  
    background: -webkit-linear-gradient(to right, #F9D423, #FF4E50);  
    background: linear-gradient(to right, #F9D423, #FF4E50);  */

    background: hsla(205, 46%, 10%, 1);

    background: linear-gradient(90deg, hsla(205, 46%, 10%, 1) 0%, hsla(191, 28%, 23%, 1) 50%, hsla(207, 41%, 27%, 1) 100%);

    background: -moz-linear-gradient(90deg, hsla(205, 46%, 10%, 1) 0%, hsla(191, 28%, 23%, 1) 50%, hsla(207, 41%, 27%, 1) 100%);

    background: -webkit-linear-gradient(90deg, hsla(205, 46%, 10%, 1) 0%, hsla(191, 28%, 23%, 1) 50%, hsla(207, 41%, 27%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#0E1C26", endColorstr="#2A454B", GradientType=1);


}

.shadow {
    /* -webkit-filter: drop-shadow(1px 1px 0 black) drop-shadow(-1px -1px 0 black);
    filter: drop-shadow(1px 1px 0 black) drop-shadow(-1px -1px 0 black); */
    /* -webkit-filter: drop-shadow(3px 5px 5px rgba(1, 1, 1, 0.5)) drop-shadow(3px 5px 5px rgba(1, 1, 1, 0.5));
    filter: drop-shadow(3px 5px 5px rgba(1, 1, 1, 0.5)) drop-shadow(3px 5px 5px rgba(1, 1, 1, 0.5)); */
    -webkit-filter: drop-shadow(3px 5px 5px rgba(1, 1, 1, 0.5)) drop-shadow(3px 0px 5px rgba(1, 1, 1, 0.5));
    filter: drop-shadow(3px 5px 5px rgba(1, 1, 1, 0.5)) drop-shadow(3px 0px 5px rgba(1, 1, 1, 0.5));

}


.cvc {
    color: rgba(255, 255, 255, 0.3);
    font-family: 'Archivo Black', sans-serif;
    /* rotate: -2.3deg; */
}

.bgc {
    background-color: rgba(255, 255, 255, 0.5);
}

.cc {
    color: rgba(255, 255, 255, 0.5);
}


.asdf {
    /* background-color: rgba(36, 35, 35, 0.7); */
    background-color: #1c1b23;
}

.bgbutton {
    background-color: hsla(205, 46%, 10%, 1)
}


.mn {
    background-color: hsl(207.4, 42.2%, 16.3%)
}

.glowicon:hover {
    text-shadow:
        0 0 2px #fff,
        0 0 5px #fff,
        0 0 1px #fff,
        0 0 0px #0fa,
        0 0 1px #0fa,
        0 0 1px #0fa,
        0 0 0px #0fa;
    -webkit-filter:
        drop-shadow(0 0 2px #fff) drop-shadow(0 0 5px #fff) drop-shadow(0 0 1px #fff) drop-shadow(0 0 0px #0fa) drop-shadow(0 0 1px #0fa) drop-shadow(0 0 1px #0fa) drop-shadow(0 0 0px #0fa);
    filter:
        drop-shadow(0 0 2px #fff) drop-shadow(0 0 5px #fff) drop-shadow(0 0 1px #fff) drop-shadow(0 0 0px #0fa) drop-shadow(0 0 1px #0fa) drop-shadow(0 0 1px #0fa) drop-shadow(0 0 0px #0fa);
}



/* .glowBox:hover {
    box-shadow:
        0 0 2px #fff, 0 0 0px #fff, 0 0 0px #fff, 0 0 0px #0fa, 0 0 2px #0fa, 0 0 7px #0fa, 0 0 10px #0fa;
} */


@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* @media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
      animation: logo-spin infinite 20s linear;
    }
  } */

@media (prefers-reduced-motion: no-preference) {
    .logoRound {
        animation: logo-spin infinite 20s linear;
    }
}