@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

body {
    width: 100%;
    font-family: 'Quicksand', sans-serif;
    scroll-behavior: smooth;
    background: hsla(205, 46%, 10%, 1);
}

.borderLeft {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    border-top-right-radius: 5rem;
    border-bottom-right-radius: 5rem;
}

.borderRight {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-top-left-radius: 5rem;
    border-bottom-left-radius: 5rem;
}

.co {

    transition: opacity 0.5s ease;

}

.glowText:hover {
    color: #fff;
    text-shadow:
        0 0 3px #fff,
        0 0 5px #fff,
        0 0 11px #fff,
        0 0 18px #0fa,
        0 0 20px #0fa,
        0 0 22px #0fa,
        0 0 25px #0fa;
    transition-duration: 0.2s;
}

.glow {
    color: #fff;
    text-shadow:
        0 0 3px #fff,
        0 0 5px #fff,
        0 0 11px #fff,
        0 0 18px #0fa,
        0 0 20px #0fa,
        0 0 22px #0fa,
        0 0 25px #0fa;
    transition-duration: 0.2s;
}

h2 {
    cursor: default;
}

.hero {
    background: hsla(205, 46%, 10%, 1);
    background: linear-gradient(90deg, hsla(205, 46%, 10%, 1) 0%, hsla(191, 28%, 23%, 1) 50%, hsla(207, 41%, 27%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(205, 46%, 10%, 1) 0%, hsla(191, 28%, 23%, 1) 50%, hsla(207, 41%, 27%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(205, 46%, 10%, 1) 0%, hsla(191, 28%, 23%, 1) 50%, hsla(207, 41%, 27%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#0E1C26", endColorstr="#2A454B", GradientType=1);
}

.shadow {
    -webkit-filter: drop-shadow(3px 5px 5px rgba(1, 1, 1, 0.5)) drop-shadow(3px 0px 5px rgba(1, 1, 1, 0.5));
    filter: drop-shadow(3px 5px 5px rgba(1, 1, 1, 0.5)) drop-shadow(3px 0px 5px rgba(1, 1, 1, 0.5));

}


.cvc {
    color: rgba(255, 255, 255, 0.3);
    font-family: 'Archivo Black', sans-serif;
    /* rotate: -2.3deg; */
}

.bgc {
    background-color: rgba(255, 255, 255, 0.5);
}

.cc {
    color: rgba(255, 255, 255, 0.5);
}


.asdf {
    background-color: #1c1b23;
}

.bgbutton {
    background-color: hsla(205, 46%, 10%, 1)
}


.mn {
    background-color: hsl(207.4, 42.2%, 16.3%)
}

.glowicon:hover {
    text-shadow:
        0 0 2px #fff,
        0 0 5px #fff,
        0 0 1px #fff,
        0 0 0px #0fa,
        0 0 1px #0fa,
        0 0 1px #0fa,
        0 0 0px #0fa;
    -webkit-filter:
        drop-shadow(0 0 2px #fff) drop-shadow(0 0 5px #fff) drop-shadow(0 0 1px #fff) drop-shadow(0 0 0px #0fa) drop-shadow(0 0 1px #0fa) drop-shadow(0 0 1px #0fa) drop-shadow(0 0 0px #0fa);
    filter:
        drop-shadow(0 0 2px #fff) drop-shadow(0 0 5px #fff) drop-shadow(0 0 1px #fff) drop-shadow(0 0 0px #0fa) drop-shadow(0 0 1px #0fa) drop-shadow(0 0 1px #0fa) drop-shadow(0 0 0px #0fa);
}



@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


@media (prefers-reduced-motion: no-preference) {
    .logoRound {
        animation: logo-spin infinite 20s linear;
    }
}
